
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-linkedin-rect:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-doc-text:before { content: '\e803'; } /* '' */
.icon-help-circled:before { content: '\e804'; } /* '' */
.icon-file-code:before { content: '\e805'; } /* '' */